<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joseph.template.dao.AppInfoMapper">



    <!--<select id="pageList" parameterType="com.joseph.template.model.dto.AppInfoQuery"
            resultType="com.joseph.template.model.entity.AppInfo">

    </select>-->

</mapper>
