<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joseph.template.dao.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.joseph.template.model.entity.Menu">
        <id column="id" property="id" />
        <result column="menu_name" property="menuName" />
        <result column="menu_code" property="menuCode" />
        <result column="parent_id" property="parentId" />
    </resultMap>


    <select id="selectBy" resultMap="BaseResultMap">
        select
        m.*
        from role_menu rm
        join menu m on rm.menu_id = m.id
        join user_role ur on ur.role_id = rm.role_id
        and ur.user_id = #{userId}
    </select>


</mapper>
